{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": [
      "warn",
      "always"
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "no-console": "off"
  }
}